.table {
    padding: 0 100px;
}

.total-cart {
    padding-left: 100px;
}

.icon-checkOut {
    transform: rotate(90deg);
    margin-bottom: 2px;
    font-size: 20px;
    margin-left: 3px;
}

.btn-checkOut {
    background: #1c2237;
}

.input-number{
    width: 60px;
    height: 30px;
    border-radius: 0px;
}

.input-number:focus {
    box-shadow: 0 0 0 0.01rem #6c757d;
}

.btn-number {
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    border: 1px solid #ced4da;
    color: black;
}

.btn-1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.btn-2{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
}

.btn-number:focus {
    box-shadow: 0 0 0 0.01rem #6c757d;
}

.btn-number:hover {
    background-color: #37436c;
}

.fix-icon {
    margin-bottom: 3px;
}